body {
  background-color: #a2f2dc;
}
#style {
  margin-left: 25%;
  padding: 1px 16px;
  height: 1000px;
}  
h1 {
  margin-left: 27%
}
}
p {
  text-align: center;
  vertical-align: top;
}
/*style stuff for accordion buttons to open n close them*/
.accordion {
  background-color: #c9a1f1;
  color: #000000;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
}
.active, .accordion:hover {
  Background-color: #a53ae8;
}
.panel {
  padding: 0 18px;
  background-color: white;
  display: none;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
} 